
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= NAVBAR ================= */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#0d2c4a;
    color:white;
}

.logo{
    font-size:20px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#00bcd4;
}

/* ================= HERO ================= */
.hero{
    height:70vh;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("image1.png");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero-content h1{
    font-size:36px;
    margin-bottom:15px;
}

.hero-content p{
    margin-bottom:20px;
}

.btn{
    background:#00bcd4;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:#008c9e;
}

/* ================= HOW TO SECTION ================= */
.how-to{
    padding:60px 20px;
    text-align:center;
    background:#f4f4f4;
}

.how-to h2{
    margin-bottom:40px;
}

.steps{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.step-box{
    background:white;
    padding:30px;
    width:250px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}

.step-box i{
    font-size:40px;
    color:#0d2c4a;
    margin-bottom:15px;
}

.step-box:hover{
    transform:translateY(-5px);
}

/* ================= RESPONSIVE ================= */
@media(max-width:1515px){

    .navbar{
        flex-direction:column;
    }

    .nav-links{
        margin-top:10px;
        flex-direction:column;
        align-items:center;
    }

    .nav-links li{
        margin:10px 0;
    }

    .hero-content h1{
        font-size:24px;
    }

    footer{
    background:#0d2c4a;
    color:white;
    text-align:center;
    padding:10px;
    
    }



    

    


    

}
