* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-color: #f5f5f5;
}


.login-container {
    width: 450px;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    
}


.heading {
    font-weight: bold;
    font-size: 2rem;
    color: #004093;
    text-transform: uppercase;
    margin-bottom: 60px;
}


.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px 12px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    color: #666;
    font-size: 14px;
}

.input-group .toggle-password {
    left: auto;
    right: 12px;
    cursor: pointer;
}

.forgot-link {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #666;
    text-decoration: none;
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #004aad; 
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #003380;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 13px;
    color: #333;
}


.guest-section {
    margin-top: 30px;
    text-align: center;
}


.btn-guest {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
}

.image-container {
    flex-grow: 1;
    background-image: url(./image1.png);
    background-position: center;
}

